
.logo {
  width: 152px;
}
.offcanvas-body{
  .dropdown-menu{
    display:block;
  }
}
@media(min-width:992px){
  .offcanvas-body{
  .dropdown-menu:not(.show){
    display:none;
  }
}
}
.offcanvas{
  backdrop-filter: blur(24px);
}