@use "../utils/utils" as *;
.logo {
  width: 152px;
}

.search {

  +.offcanvas-top {
    height: 160px;
  }
}

header {
 
    @include mobile {
       .offcanvas-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }
      .user{
        border:0;
        color: #fff;
        background-color: #0d6efd;
        
      }
      .dropdown-menu{
        width: 360px !important;
        transform: translateY(20%) !important;
      }
    }
    
  
}