.banner{
  background-image: url('/assets/images/index-bg/index-hero-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
h2,h5{
    letter-spacing: 5%;
}
}