<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <main class="py-9">
      <div class="container">
        <div class="row flex-column align-items-center justify-content-center text-center">
          <div class="col-lg-6">
            <h1 class="display-4     fw-bold lh-sm">探索適合你的 AI 工具 <br>讓工作與生活更有效率</h1>
            <h5 class=" text-neutral-200 py-4 lh-base">從文字生成、圖片設計到程式輔助<br>
              一站式探索並訂閱你需要的 AI 解決方案</h5>
            <div class=" position-relative py-4">
              <i class="bi bi-search position-absolute top-50 translate-middle-y ms-3 text-secondary"></i>
              <input type="text" class=" form-control  ps-5 " placeholder="輸入工具名稱、功能或關鍵字"
                aria-label="輸入工具名稱、功能或關鍵字" aria-describedby="button-addon2">
                
             
            </div>
          </div>
        </div>

      </div>
    </main>



    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>